/* === toast === */

.toast {
    position: fixed;
    width: 150px;
    left: 50%;
    top: 80%;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    z-index: 13511;
    color: #fff;
    font-family: 'Helvetica-Neue', 'HelveticaNeue', arial, sans-serif;
    text-align: center;
    font-weight: normal;
}

.toast.toast-transition {
    transition: opacity .8s;
}