.f7c-dialog .modal-buttons.modal-buttons-revers {
  flex-direction: row-reverse;
}

.f7c-dialog .modal-buttons-revers .modal-button {
  border-radius: 0;
  font-size: 15px;
}

.f7c-dialog .modal-title {
  font-size: 16px;
}
